body{
  /* background-image: url("images/Ancient-Castle-Stone-Wall-PhotosPublic02.jpg"); */
  background-image: url("../images/image-id-11068331-jpeg.jpg");
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  width: auto;
 
  /* margin-right: -1%; */
  /* position:absolute; */
  /* float:right; */
  /* clip: rect(0, 100px, 200px, 100%); */
}
#note{
  /* background-image: url("images/image-from-rawpixel-id-11068331-jpeg.jpg"); */
  /* https://www.rawpixel.com/image/11068331/image-cloud-cow-art */
  background-repeat: no-repeat;

  /* .pageGuide{
  display: flex;
  justify-content: end;
  display: none;
  flex-wrap: wrap;
  max-width: 5%;
  max-height: fit-content;

  background-color:hsla(35, 37%, 62%, 0.5); */
  /* visibility: hidden;
  } 
  .titleBan{
  background-image: url("images/image-from-rawpixel-id-6659785-png.png");
  }
  */
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* max-width: 100%; */
  max-height:180px;

  margin: -0.5%;
  margin-bottom: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  
}

h1{
  /* https://www.rawpixel.com/image/6659922/vector-sticker-public-domain-vintage-illustration */
  font-family: "Jacquarda Bastarda 9", serif;

}
hr{
  border-style: double;
  width:50%;
  text-align:left;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  margin-top: 10px;
  justify-content: space-between;
  max-width: auto;
  
}

/* man-made-horrors beyond my comprehension */
.menu{
  display: flex;
  justify-items: end;
  align-items: center;
  /* align-items: end; */
}
.menu:hover{
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.4);
}

#titleText{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Sankofa Display", sans-serif;
  font-size:50pt;
  width:50%;
  padding-left:3%;
}
.leftSide{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 2%;
}
.rightSide{
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
}
#login{
  display: flex;
  /* justify-items: space-evenly; */
  align-items: center;
  font-family: "Sankofa Display", sans-serif;
  font-size: 20pt;
  padding-right: 25px;

  font-weight: bold;

}

.container{
  display: flex;
  flex-direction: column;
  min-height:25%;
  margin : 0%;
  margin-bottom:3%;
  width:30%;
  justify-content: safe;
}
.bulletin{
  display: flex;
  flex-direction: column;
  
  /* max-height: 100vh; */
  min-height: fit-content;
  width: 100%;
  
  background-color:hsla(0, 0%, 0%, 0.5);
  border-radius: 2px; 
  /* outline-width: 5px; */
}
.bulletin img {
  padding: 3%;
}

#news{
  width:50%;
}
#lotto{
  display: flex;
  flex-direction: row;

  height: fit-content;
  width: auto;

  background-size: cover;
  background-image: url("../images/Ancient-Castle-Stone-Wall-PhotosPublic02.jpg");
  outline-style: double;
  outline-width: 3px;
  border-radius: 8px;

  align-content: center;
  justify-content: start;
}
#lotto img{
  padding:3%;

  height:140px;
  width: 98px;
}
#lotto .textBox{
  display: flex;
  flex-direction: column;
  padding:3%;
  width:100%
}
#lotto text{
  font-family: "Jersey 15", sans-serif;
  font-size: x-large;
  background-color: antiquewhite;
}
#update{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
  /* margin-left: -0.5%; */

  height: 100%;
  width: 100%;

  /* background-image: url("images/Ancient-Castle-Stone-Wall-PhotosPublic02.jpg");
  background-size: cover;  */
  /* background-color:hsla(35, 37%, 62%, 0.771); */
  /* outline-style:double;
  outline-width: 10px;
  outline-color: goldenrod;*/
  /* border-radius: 2px;  */
  /* outline-style: double; */
  /* outline-width: 5px; */
}

.comicContain{
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;

  justify-items: center;
  align-items: center;

  border-radius: 3px;
  border-color: black;
  border-width: 5px;
  border-style: groove;

  font-family: "Jersey 15", sans-serif;
  padding:2%;
  margin:5%;
  
}
.comicContain img{
  padding:2%;
  height:140px;
  width: 98px;
}

/* Fonts */
.jacquarda-bastarda {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}
.sankofa-display-regular {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* footer & extra */
button{
  font-family: "Jersey 15", sans-serif;
  margin: 5px;
}
/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a4d;
  border-radius: 8px;
  color: black;
  display: inline-block;
  font-size: 15pt;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #ffdeda;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.button-57 span:last-child {
  color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-content: center;
}
.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

  border-radius: 8px;
  right: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content button{
  width:100%;
}

footer{
  display: flex;
  justify-content: center;
  font-family: "Jersey 15", sans-serif;
  font-size: x-large;
  /* color:#ffd700 */
  width:auto;
}
